@model IEnumerable<Finance101.Models.MortgageForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Mortgage Information</h1>

<p>
    <a asp-action="SubmitForm" class="button">Submit New</a>
</p>
<div class="mortgage-info">
    <table class="table" id="mortageTable">
        <thead>
            <tr>
                @foreach (var item in Model)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.OutstandingMortgageBalance)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutstandingMortgageBalance)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.RepaymentTerm)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepaymentTerm)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentInterestRate)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentInterestRate)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentMonthlyPayment)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentMonthlyPayment)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.DailyInterestRate)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DailyInterestRate)
                    </td>
                    <td>
                        <div>
                            <a asp-action="EditMortgageInfo" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="MortgageInfo" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="DeleteMortgageDetails" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                }
            </tr>
        </thead>
    </table>

</div>

