@model Finance101.Models.MortgageForm

@{
    ViewData["Title"] = "MortgageInfo";
}

<h1>Details</h1>

<div>
    <h4>Mortgage Details</h4>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.OutstandingMortgageBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutstandingMortgageBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepaymentTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepaymentTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentInterestRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentInterestRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentMonthlyPayment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentMonthlyPayment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyInterestRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailyInterestRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditMortgageInfo" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
